<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ro'yhatdan o'tish platformasi</title>
        <style>
   body{
    background-color: #3366CC; /* Цвет фона веб-страницы */
   }
   h1 {
    background-color: RGB(249, 201, 16); /* Цвет фона под заголовком */
   }
   a {
    background-color: maroon; /* Цвет фона под текстом параграфа */
    color: white; /* Цвет текста */
   }
  </style>
    </head>
    <body>
        Hello my dear friends!
        <div align="center">
            <h1>Spring Boot Ro'yhatdan o'tish platformasi</h1>
            <a href="/register">Ro'yhatdan o'tish uchun sekinroq bosing</a>
        </div>
    </body>

</html>
